.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color: rgb(120, 150, 111);
    min-height: 95vh;
}
.inputs{
    padding: 5px;
    width: 300px;
    height: 25px;
    border-radius: 20px;
    font-size: 16px;    
}
.button{
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(229, 229, 229);
    cursor: pointer;    
}
.button:hover{
    background-color:rgb(164, 169, 159);
}
.body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.bordas{
    background-color: rgb(160, 206, 157);
    width: 500px;
    height: 740px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
